header{
        width: 100%;
        height: 100%;
        
        display: flex;
        justify-content: space-betweens;
        align-items: center;
        padding: 0rem 0rem;
}
.username{
    width: 175px;
    height: 45px;
    font-size: 20px;
}
.exam{
    width: 175px;
    height: 45px;
    font-size: 20px;
}

